<footer>
    <p class="copy-right">Copyright © <span>
            2020 -
            <%= new Date().getFullYear(); %>
        </span>. All rights reserved by Arif
    </p>


</footer>
<script src="js/script.js"></script>
</body>

</html>