<!-- Header -->
<%- include('../components/header') %>

    <!-- Body -->
    <div class="main-panel">
        <h1>Dashoboard</h1>
    </div>

    <!-- Footer -->
    <%- include('../components/footer') %>