<!-- Header -->
<%- include('../components/header') %>

    <!-- Body -->
    <div class="main-panel">
        <h1>This is Dashboard</h1>

        <a href="/logout">Logout</a>
    </div>

    <!-- Footer -->
    <%- include('../components/footer') %>